ui:
  header: "{{ ui_header }}"
  logo: "{{ ui_logo }}"
  dashboard-heading: "{{ ui_dashboard_heading }}"
  dashboard-subheading: "{{ ui_dashboard_subheading }}"
  dark-mode: {{ ui_dark_mode }}
  default-sort-by: "{{ ui_default_sort_by }}"
  default-filter-by: "{{ ui_default_filter_by }}"
