importlib-metadata==8.7.0
    # via ops
opentelemetry-api==1.34.1
    # via ops
ops==3.0.0
    # via postgresql-stub
pyyaml==6.0.2
    # via ops
typing-extensions==4.15.0
    # via opentelemetry-api
websocket-client==1.8.0
    # via ops
